#app {
  background-image: linear-gradient(45deg, #92f5c3, #00000021);
  box-shadow: 0px 4px 15px #5f6b5ea1;
  text-shadow: 0px 1px 8px;
}
@media screen and (max-width: 772px) {
  h1.Name {
    font-size: 2.5rem !important;}}
@media screen and (max-width: 772px) {
  div.N {
    margin-left: auto !important;
    margin-right: auto !important;}}
@media screen and (max-width: 772px) {
  h2.information {
    font-size: 20px !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;}}
@media screen and (max-width: 772px) {
  img.information {
    margin-left: auto !important;
    margin-top: auto !important;
    width: 100% !important;
    height: 230px !important;}}
@media screen and (max-width: 772px) {
  a.col-2 {
    max-width: none !important;}}
